/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.App { 
  background-color: rgb(215,215,217);
  border-radius: 1rem;
  max-width: 1000px;
  color: rgb(122, 69, 232);
}

.card {
  padding: 2em;
}

 
.card__flex {
  display: flex;
  gap: 1rem;
}
 
.card__icon-container {
  display: block;
  
  
}

.card__temp {
  margin-bottom: 2rem;
}

.card__info h3 {
   
  padding-top: 2rem;
  
}

.card__list {
  list-style: none;
  display: block;
  padding: 3.5rem;
  
}

.card__button {
  background-color: rgb(122, 69, 232);;
} */
* {
  font-family: 'Montserrat';
  color: var(--white);
  max-width: 1200px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: darkblue;
  scroll-behavior: smooth;
  margin: 0 auto;
}
ul {
  list-style: none;

}
body {
  max-width: 800px;
  min-width: 500px;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}
.App { 
  background-color: rgb(215,215,217);
  border-radius: 1rem;
  max-width: 1000px;
  color: rgb(122, 69, 232);
}
.card__flex {
  display: flex;
  gap: 1rem;
}
.card__icon-container {
  display: block;
  
  
}

.card__temp {
  margin-bottom: 2rem;
}

.card__info h3 {
   
  padding-top: 2rem;
  
}

.card__list {
  list-style: none;
  display: block;
  padding: 3.5rem;
  
}
.card__button {
  background-color: rgb(122, 69, 232);
  color: aliceblue;
} 